<html>
	<head>
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- stylesheet link -->
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	</head>
	<body>
		<div class='container'>
			<h1>Welcome {{ name }}!</h1>
			<a class='col-md-offset-11' href='/users/logout'>Logout</a>
			<div id='quotes' class='col-md-5'>
				<h3>Quotable Quotes</h3>
				
				{% for quote in quotes %}
				<div class='quotes'>	
						<p>{{ quote['author'] }}: {{ quote['quotes'] }}</p>
						<p>Posted by: {{ quote['name'] }}</p>
						<form action="/quotes/create_fav/{{ quote['quote_id'] }}" method='Post'>
							<button type='submit' class='btn'>Add to My Favs</button>
						</form>
				</div>
				{% endfor %}
			
			</div>
			<div id='favs' class='col-md-offset-1, col-md-5'>
				<h3>Your Favs</h3>
				<!-- <div class='favs'> -->
				{% for fav in favs %}
				<div class='quotes'>		
						<p>{{ fav['author']}}: {{ fav['quotes'] }}</p>
						<p>Posted by: {{ fav['name'] }}</p>
						<form action="/quotes/delete/{{ fav['fav_id']}}" method='Post'>
							<button type='submit' class='btn'>Remove from Favs</button>
						</form>
				</div>	
					{% endfor %}
			
			</div>
			<div class='col-md-5'>
				<h3>Contribute a Quote</h3>
				<form action='/quotes/create/{{ id }}' method='Post'>
					<div class='form-group'>
						<label for='author'>Who Said It:</label>
						<input type='text' class='form-control' name='author'>
					</div>
					<div class='form-group'>
						<label for='quote'>Quote:</label>
						<textarea class='form-control' rows='5' name='quote'></textarea>
					</div>
					<button type='submit' class='btn'>Submit</button>
				</form>
				{% with error = get_flashed_messages() %}
					{% if error: %}
						{% for x in error: %}
							<p>{{x}}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>
	</body>
</html>